node_modules
platforms
*.log
*.js.map
.DS_Store
*.hprof
.nsbuildinfo
hooks
.vscode
*.tsbuildinfo
*.local
dist/
out-tsc/
tmp/
coverage/
e2e/test-output/
.angular/
.env
.angular-cli.json
.ng/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
